body{
    font-family: "Raleway", sans-serif;
}
tr{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
#grand-total, #total-price{
    font-family: Arial, Helvetica, sans-serif;

}